
/*  this section is from w3schools https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp*/

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #343a40; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
#mainGut {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* end section from w3school codes*/

#hero {
    width: 100%;
    height: 500px;
    background: url("../img/PhotobyAlexandreDebièveonUnsplash.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    color: orange;
    font-weight: 500;
    font-style: oblique;
  }


  .jumbotron {
    background-color:#343a40;
    size: 100%;
    text-align: center;
    color: white;
  

  
}




.carousel-inner img {
  width:610px;
  height:350px ;
}

footer {
background-color: #343a40;
height: min-content;
}
